In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('dmc-thread-inventory-sheet-by-lord-libidan-updated.xlsx', header = 4)

In [3]:
df.iloc[:,0:5]

,Unnamed: 0,Number,Name,Color,Owned
0,NaN,Ecru,Ecru/off-white,NaN,1.0
1,NaN,Blanc^,White,NaN,4.0
2,NaN,White^,White,NaN,2.0
3,NaN,B5200,Snow White,NaN,NaN
4,NaN,1,White Tin,NaN,NaN
...,...,...,...,...,...
63,NaN,221,Shell Pink - Very Dark,NaN,NaN
64,NaN,223,Shell Pink - Light,NaN,2.0
65,NaN,224,Shell Pink - Very Light,NaN,1.0
66,NaN,225,Shell Pink - Ultra Very Light,NaN,1.0
67,NaN,^ Depending on your country you may find eithe...,NaN,NaN,NaN

In [4]:
matrix_shits = []

for i in range(5, len(df.columns), 5):
    subby = df.iloc[:,i-4:i]
    subby.columns = ['col_num', 'name', 'dropme','owned']
    matrix_shits.append(subby)
    

tallcolors = pd.concat(matrix_shits)

In [5]:
tallcolors

   col_num            name  dropme owned
0     Ecru  Ecru/off-white     NaN     1
1   Blanc^           White     NaN     4
2   White^           White     NaN     2
3    B5200      Snow White     NaN   NaN
4        1       White Tin     NaN   NaN
..     ...             ...     ...   ...
63     NaN             NaN     NaN   NaN
64     NaN             NaN     NaN   NaN
65     NaN             NaN     NaN   NaN
66     NaN             NaN     NaN   NaN
67     NaN             NaN     NaN   NaN

[884 rows x 4 columns]

In [6]:
talldf = tallcolors.dropna(how = 'all')

In [7]:
talldf['owned'].fillna(0, inplace = True) # how are you supposed to do this without getting yelled at?

/Users/wickes1/anaconda/lib/python3.6/site-packages/pandas/core/series.py:4536: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [8]:
talldf.drop(columns = ['dropme'], inplace = True)

/Users/wickes1/anaconda/lib/python3.6/site-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [24]:
have = talldf[ talldf['owned'] != 0]
donthave = talldf[ talldf['owned'] == 0]

In [25]:
have.shape

(230, 3)

In [29]:
len(have)/len(talldf)

0.2836004932182491

In [31]:
donthave.to_csv('donthave.csv')