In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('dmc-thread-inventory-sheet-by-lord-libidan-updated.xlsx', header = 4)

In [3]:
df

,Unnamed: 0,Number,Name,Color,Owned,Unnamed: 5,Number.1,Name.1,Color.1,Owned.1,...,Unnamed: 60,Number.12,Name.12,Color.12,Owned.12,Unnamed: 65,Number.13,Name.13,Color.13,Owned.13
0,NaN,Ecru,Ecru/off-white,NaN,1.0,NaN,300,Mahogany - Very Dark,NaN,NaN,...,NaN,48.0,Discontinued Variegated - Baby Pink,NaN,NaN,NaN,5269.0,Discontinued Metallic - Green Emerald,NaN,NaN
1,NaN,Blanc^,White,NaN,4.0,1 pulled,301,Mahogany - Medium,NaN,1,...,NaN,51.0,Discontinued Variegated - Burnt Orange,NaN,NaN,NaN,5270.0,Discontinued Metallic - Dark Red Ruby,NaN,NaN
2,NaN,White^,White,NaN,2.0,NaN,304,Red - Medium,NaN,1 (floche),...,NaN,52.0,Discontinued Variegated - Violet,NaN,NaN,NaN,5272.0,Discontinued Metallic - White,NaN,NaN
3,NaN,B5200,Snow White,NaN,2.0,NaN,307,Lemon,NaN,NaN,...,NaN,53.0,Discontinued Variegated - Steel Gray,NaN,NaN,NaN,5279.0,Discontinued Metallic - Copper,NaN,NaN
4,NaN,1,White Tin,NaN,NaN,NaN,309,Rose - Dark,NaN,2,...,NaN,57.0,Discontinued Variegated - Red,NaN,NaN,NaN,5282.0,Discontinued Metallic - Light Gold,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,NaN,221,Shell Pink - Very Dark,NaN,NaN,NaN,502,Blue Green,NaN,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,NaN,223,Shell Pink - Light,NaN,2.0,NaN,503,Blue Green - Medium,NaN,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,NaN,224,Shell Pink - Very Light,NaN,1.0,NaN,504*,Blue Green - Very Light,NaN,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,NaN,225,Shell Pink - Ultra Very Light,NaN,1.0,NaN,505,Grass Green - Dark,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,NaN,^ Depending on your country you may find eithe...,NaN,NaN,NaN,NaN,* Hard to find threads,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.iloc[:,0:5]

,Unnamed: 0,Number,Name,Color,Owned
0,NaN,Ecru,Ecru/off-white,NaN,1.0
1,NaN,Blanc^,White,NaN,4.0
2,NaN,White^,White,NaN,2.0
3,NaN,B5200,Snow White,NaN,2.0
4,NaN,1,White Tin,NaN,NaN
...,...,...,...,...,...
63,NaN,221,Shell Pink - Very Dark,NaN,NaN
64,NaN,223,Shell Pink - Light,NaN,2.0
65,NaN,224,Shell Pink - Very Light,NaN,1.0
66,NaN,225,Shell Pink - Ultra Very Light,NaN,1.0
67,NaN,^ Depending on your country you may find eithe...,NaN,NaN,NaN

In [5]:
matrix_shits = []

for i in range(5, len(df.columns), 5):
    subby = df.iloc[:,i-4:i]
    subby.columns = ['col_num', 'name', 'dropme','owned']
    matrix_shits.append(subby)
    

tallcolors = pd.concat(matrix_shits)

In [6]:
list(range(5, len(df.columns),5))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65]

In [7]:
tallcolors

   col_num            name  dropme owned
0     Ecru  Ecru/off-white     NaN     1
1   Blanc^           White     NaN     4
2   White^           White     NaN     2
3    B5200      Snow White     NaN     2
4        1       White Tin     NaN   NaN
..     ...             ...     ...   ...
63     NaN             NaN     NaN   NaN
64     NaN             NaN     NaN   NaN
65     NaN             NaN     NaN   NaN
66     NaN             NaN     NaN   NaN
67     NaN             NaN     NaN   NaN

[884 rows x 4 columns]

In [8]:
talldf = tallcolors.dropna(how = 'all')

In [9]:
talldf['owned'].fillna(0, inplace = True) # how are you supposed to do this without getting yelled at?

/Users/wickes1/anaconda/lib/python3.6/site-packages/pandas/core/series.py:4536: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [10]:
talldf.drop(columns = ['dropme'], inplace = True)

/Users/wickes1/anaconda/lib/python3.6/site-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [11]:
have = talldf[ talldf['owned'] != 0]
donthave = talldf[ talldf['owned'] == 0]

In [12]:
have.shape

(242, 3)

In [13]:
len(have)/len(talldf)

0.29839704069050554

In [14]:
donthave.to_csv('donthave.csv')

In [15]:
have

   col_num                         name owned
0     Ecru               Ecru/off-white     1
1   Blanc^                        White     4
2   White^                        White     2
3    B5200                   Snow White     2
6        3                 Tin - Medium     1
..     ...                          ...   ...
3     4130  Variations - Chilean Sunset     1
5     4145         Variations - Sandune     1
10    4190     Variations - Ocean Coral     1
12    4210    Variations - Radiant Ruby     1
15    4230   Variations - Crystal Water     1

[242 rows x 3 columns]